header li {
    font-size: 2rem;
    margin-top: 10%;
}

header ul {
    margin-right: 0;
}

header p {
    color: cornflowerblue;
}


footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



section#technology {
    margin-top: 2%;
}

section#features {
    background-image: url(../imgs/greg-shield-692-unsplash.jpg);
    background-size: cover;
    padding-top: 3rem;
}


section#features2 {
    margin-top: 3%;
}

section#features img {
    margin-bottom: 12%;
}


section#pricing h3.price-headline {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

section#pricing .white-text {
    color: #FFF;
}

section#pricing thead .tin {
    background-color: darkgray;
}

section#pricing thead .steel {
    background-color: deepskyblue;
}

section#pricing thead .gold {
    background-color: darkgoldenrod;
}

footer {
    background-color: black;
    color: antiquewhite;
    margin-top: 3em;
}

footer h5,
footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: antiquewhite;
}

footer ul {
    margin-bottom: 5em;
}

footer address strong {
    color: antiquewhite;
    display: block;

}

footer a {
    font-size: 1rem;
    color: cornflowerblue;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}

section#support {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.thfix {
    font-size: 1.7rem;
}

@media only screen and (max-width: 37.5rem) {
    section#features img {
        width: 6rem;
    }
    section#features2 img {
        margin-left: 35%;
    }
    i {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 64em) {
    section#features img {
        width: 20rem;
    }
    span i {
        font-size: 8rem;
        margin-top: 1rem;
    }
}
