body#wrapper {background-color: cornsilk;
  margin-top: 2rem;
}

h1 {font-size: 5rem;
color: black;}

.jumbotron {
  background-color:lightblue !important; 
}

h2{background-color:cornflowerblue;
}

@media only screen and (max-width:50rem) {
  h1 {font-size: 3.5rem;}
  h2 {font-size: 1.5rem;}
}