body#wrapper {
    background-color: lightgray;
    margin-top: 2rem;
}


.jumbotron {
    background-color: gray !important;
}


@media only screen and (max-width:37.5rem) {
   div p {
        font-size: 1.2rem;
    }
    
}

p {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
